<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <a menuClose ion-item routerLink="/home">Home</a>
      <a menuClose ion-item routerLink="/test">Test</a>
    </ion-list>
  </ion-content>

</ion-menu>

<router-outlet #content></router-outlet>